* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Prompt", "sans-serif";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #353738;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 1px 8px rgb(0, 0, 0);
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 4rem;
}

.logo {
  font-size: 1.5rem;
}

.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.nav__wrap a {
  color: #ffffff;
}

.nav {
  background-color: #353738;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.nav__title {
  padding: 2rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
}
.nav__links {
  display: flex;
  gap: 2rem;
}
.nav__links a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
}
.nav__links a:hover {
  color: rgb(77, 76, 76);
}
.nav__links a:active {
  background-color: none;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.9rem;
}

.main {
  background-color: #5b5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__container {
  width: 250px;
  height: 250px;
  margin: 8rem 0 1rem;
}
.main__container img {
  width: 100%;
  border-radius: 50%;
  transform: rotate(90deg);
}
.main__line {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  justify-items: center;
  align-items: center;
}
.main .starIcon {
  background-image: url(../assets/estrellaWhiteColor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  width: 60px;
  height: 70px;
}
.main .linea {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  width: 150px;
  height: 5px;
}
.main .title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 500;
}
.main h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 5rem;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #353738;
  font-size: 2rem;
  font-weight: 600;
  background-color: #ffffff;
  margin-top: 4rem;
  height: 40rem;
  scroll-margin-top: 100px;
}
.portfolio__container {
  display: flex;
  flex-direction: row;
}
.portfolio__container .portfolio__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__container .portfolio__item a {
  text-align: center;
  text-decoration: none;
  color: #353738;
  margin-bottom: 4rem;
}
.portfolio__container .portfolio__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}
.portfolio__container .portfolio__item .portfolio__name {
  font-size: 1.1rem;
  padding: 0.5rem;
}
.portfolio__line {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  justify-items: center;
  align-items: center;
}
.portfolio .starIcon {
  background-image: url(../assets/estrellaPrimaryColor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  width: 60px;
  height: 70px;
}
.portfolio .linea {
  border: 2px solid #353738;
  background-color: #353738;
  width: 100px;
  height: 5px;
}

.about {
  background-color: #5b5b5b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  height: 40rem;
  scroll-margin-top: 100px;
}
.about h3 {
  margin-top: 2rem;
}
.about__line {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  justify-items: center;
  align-items: center;
}
.about .starIcon {
  background-image: url(../assets/estrellaWhiteColor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  width: 60px;
  height: 70px;
}
.about .linea {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  width: 100px;
  height: 5px;
}
.about__container {
  width: 400px;
  text-align: start;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.about__container p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
}

.contact {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #353738;
  font-size: 2rem;
  font-weight: 600;
  scroll-margin-top: 100px;
}
.contact__line {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  justify-items: center;
  align-items: center;
}
.contact .starIcon {
  background-image: url(../assets/estrellaPrimaryColor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  width: 60px;
  height: 70px;
}
.contact .linea {
  border: 2px solid #353738;
  background-color: #353738;
  width: 100px;
  height: 5px;
}
.contact__wrap {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.contact__wrap .contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  padding: 2rem;
}
.contact__wrap .contact__container .contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353738;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.contact__wrap .contact__container .contact__item img {
  width: 2.5rem;
  filter: invert(1);
}
.contact__wrap .contact__container .contact__span {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.contact__wrap .contact__container .number,
.contact__wrap .contact__container .mail {
  font-size: 1.5rem;
}

.footer {
  background-color: #353738;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.footer__container {
  margin-top: 5rem;
  width: 80%;
}
.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.footer__item h4 {
  font-size: 1.5rem;
}
.footer__item p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.footer__item .linkedin {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: #ffffff;
}
.footer__item .linkedin:hover {
  background-color: #ffffff;
  color: #353738;
  transition: 400ms;
}
.footer__item .linkedin__logo {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.copyright {
  background-color: #1c1d1e;
  display: flex;
  justify-content: center;
}
.copyright__text {
  color: #ffffff;
  padding: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    flex-direction: column;
    top: 3.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    text-align: center;
  }
  .nav__links {
    background-color: #353738;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .abrir-menu {
    display: block;
  }
  .cerrar-menu {
    display: none;
  }
  .main .title {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
  }
  .main .linea {
    width: 100px;
  }
  .main h2 {
    font-size: 1.2rem;
  }
  .portfolio {
    height: unset;
  }
  .portfolio .portfolio__container {
    flex-direction: column;
  }
  .about {
    height: unset;
  }
  .about__container {
    width: unset;
  }
  .about__container p {
    font-size: 1rem;
    padding: 2rem;
  }
  .contact__wrap {
    flex-direction: column;
  }
  .footer {
    height: unset;
    grid-template-columns: unset;
  }
  .footer p {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */