@use "../variables/variables" as c;

.main {
  background-color: c.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    width: 250px;
    height: 250px;
    margin: 8rem 0 1rem;
    img {
      width: 100%;
      border-radius: 50%;
      transform: rotate(90deg);
    }
  }
  &__line {
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    justify-items: center;
    align-items: center;
  }
  .starIcon {
    background-image: url(../assets/estrellaWhiteColor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3rem;
    width: 60px;
    height: 70px;
  }
  .linea {
    border: 2px solid c.$white;
    background-color: c.$white;
    width: 150px;
    height: 5px;
  }
  .title {
    color: c.$white;
    font-size: 4rem;
    font-weight: 500;
  }
  h2 {
    color: c.$white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 5rem;
  }
}
